<!DOCTYPE html>
<html lang="en">

<%- include("../components/head"); %>

<body class="bg-neutral-950 text-white">

<%- include("../components/navbar"); %>

<div class="p-6 mt-6">
  <div class="p-3 flex justify-center items-center sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl">
    Create from profile&nbsp;
    <p class="inline-block bold text-green-500">
      (V2)
    </p>
  </div>
  <div class="p-6 flex justify-center items-center text-green-500 sm:text-xl md:text-xl lg:text-xl xl:text-xl">
    V2 -> More accurate, but liked songs are included.
  </div>
  <div class="p-3 flex justify-center items-center sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl">
    We will create a playlist of 50 new songs based on your profile
  </div>
  <div class="p-3 flex justify-center items-center sm:text-3xl md:text-3xl lg:text-3xl xl:text-3xl">
    <a class="p-3 border-2 border-white rounded-lg hover:bg-green-500 hover:border-green-500 hover:text-neutral-950"
      <% if (login) { %>
        href="/generate/profile-v2"
      <% } else { %>
        href="/login"
      <% } %>
    >
      Create
    </a>
  </div>
</div>

</body>
</html>