<head>
  <link rel="icon" href="images/favicon.ico" sizes="any"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description"content="Kipify was developed as an open source app which recommends you new songs on Spotify.
    It makes a playlist of 50 songs, based on your data from the past."
  />
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Kipify"/>
  <meta property="og:description" content="Kipify was developed as an open source app which recommends you new songs on Spotify.
    It makes a playlist of 50 songs, based on your data from the past."
  />
  <meta property="og:url" content="https://kipify.vercel.app/"/>
  <meta property="og:site_name" content="Kipify"/>
  <meta property="og:image" content="https://kipify.vercel.app/images/logo.png"/>
  <meta property="og:image:type" content="image/png"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Kipify"/>
  <meta name="twitter:description" content="Kipify was developed as an open source app which recommends you new songs on Spotify.
    It makes a playlist of 50 songs, based on your data from the past."
  />
  <meta property="twitter:image" content="https://kipify.vercel.app/images/logo.png">

  <link rel="stylesheet" href="styles/build.css" sizes="any"/>
  <title>Kipify</title>
</head>