<!DOCTYPE html>
<html lang="en">

<%- include("components/head"); %>

<body class="bg-neutral-950 text-white">

<%- include("components/navbar"); %>

<div class="p-6">
  <div class="p-3 flex justify-center items-center sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl">
    About Kipify
  </div>
  <div class="flex justify-center items-center sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl">
    <div class="p-6 sm:w-3/5">
      Kipify was developed as an open source app which recommends you new
      songs on Spotify. It started as a final project for Harvard's&nbsp;
      <a href="https://cs50.harvard.edu/x/" class="inline-block underline hover:text-green-500">
        CS50
      </a>
      &nbsp;Final Project. It aims to help out people trying to find new music
      to listen to or find music similar to what they already listen to.
    </div>
  </div>
  <div class="p-6 flex justify-center items-center sm:text-xl md:text-xl lg:text-xl xl:text-xl">
    p.s. i don't enjoy front-end
  </div>
</div>

</body>
</html>