<!DOCTYPE html>
<html lang="en">

<%- include("components/head"); %>

<body class="bg-neutral-950 text-white">

<%- include("components/navbar"); %>

<div class="p-6 mt-6">
  <div class="p-3 flex justify-center items-center sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl">
    Kipify
  </div>
  <div class="p-3 flex justify-center items-center sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl">
    Here you can try various ways to create a playlist
  </div>

  <!-- From profile -->
  <div class="p-3 flex justify-center items-center sm:text-3xl md:text-3xl lg:text-3xl xl:text-3xl">
    <div class="p-6 sm:w-3/5 border-2 border-white rounded-lg">
      <div class="p-3 sm:text-5xl md:text-5xl lg:text-5xl xl:text-5xl">
        From profile
      </div>
      <div class="p-3">
        We will create a playlist of 50 new songs based on your profile
      </div>
      <div class="p-3 flex justify-center items-center ">
        <a class="p-3 border-2 border-white rounded-lg hover:bg-green-500 hover:border-green-500 hover:text-neutral-950" href="/create/profile">
          Create
        </a>
    </div>
    </div>
  </div>

  <!-- From tracks -->
  <div class="p-3 flex justify-center items-center sm:text-3xl md:text-3xl lg:text-3xl xl:text-3xl">
    <div class="p-6 sm:w-3/5 border-2 border-white rounded-lg">
      <div class="p-3 sm:text-5xl md:text-5xl lg:text-5xl xl:text-5xl">
        From tracks
      </div>
      <div class="p-3">
        Select upto 5 tracks, and we will create a playlist containing 50 new songs based on that
      </div>
      <div class="p-3 flex justify-center items-center ">
        <a class="p-3 border-2 border-white rounded-lg hover:bg-green-500 hover:border-green-500 hover:text-neutral-950" href="/create/tracks">
          Create
        </a>
    </div>
    </div>
  </div>
</div>

</body>
</html>