<!DOCTYPE html>
<html lang="en">

<%- include("components/head"); %>

<body class="bg-neutral-950 text-white">

<%- include("components/navbar"); %>

<div class="p-6 mt-6">
  <div class="p-3 flex justify-center items-center sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl">
    Kipify
  </div>
  <div class="p-3 flex justify-center items-center sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl">
    Here's your new playlist!
  </div>
  <div class="p-3 flex justify-center items-center sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl">
    <%- include("components/playlist-embed", {playlist: playlist}); %>
  </div>
</div>

</body>
</html>